@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap');
:root {
    --bg: #212121;
    --bg2: #444444;
    --primary: #FF0066;
    --base-color: #FFF;
}


/* css reset */

* {
    margin: 0;
    color: var(--base-color);
}

body {
    background-color: var(--bg);
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    padding: 1.5rem;
    background-color: var(--bg2);
    z-index: 100;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
    color: var(--primary);
}

.primary {
    color: var(--primary);
}

.base {
    color: var(--base-color);
}

nav {
    display: flex;
    flex: 1;
}

nav ul {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-self: center;
}

nav a:hover {
    color: var(--primary);
    border-bottom: var(--primary) 3px solid;
    padding-bottom: 1rem;
}

a {
    color: var(--base-color);
    text-decoration: none;
}

li {
    list-style: none;
    flex: 1;
}

nav li:nth-child(3) {
    flex: 2;
    text-align: end;
}

#hero {
    height: 320px;
    position: relative;
}

#movie-banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 450px;
    position: relative;
}

#movie-banner img {
    margin-top: 15rem;
    cursor: pointer;
}

#movie-banner img:hover {
    height: 480px;
}

#description {
    width: 60%;
    max-height: 100%;
    overflow-y: auto
}

.banner {
    z-index: 1;
}

.banner p {
    font-weight: bold;
    font-size: 3rem;
    line-height: 56px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.banner article {
    padding: 2rem;
    line-height: 2rem;
    font-weight: bold;
}
#hero p{
    padding: 6rem;
    width: 40%;
}

#hero::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../images/poster_guerra.jpg);
    box-shadow: inset 0px -25px 25px #212121;
    z-index: -100;
    background-position: center;
    background-position-y: 30%;
    filter: opacity(.4);
}

#movie-banner::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../images/poster_viuva.jpg);
    box-shadow: inset 0px -25px 25px #212121;
    z-index: -100;
    background-position: center;
    background-position-y: 30%;
    filter: opacity(.4);
}

main {
    margin-left: 3rem;
}

main h2 {
    font-size: 1.5rem;
    border-left: var(--primary) 5px solid;
    line-height: 20px;
    padding-left: .2rem;
    margin: 1rem 0;
}


.ficha-tecninca {
    background-color: #343434;
    height: 20rem;
    width: 18rem;
    border-radius: 5px;
    padding: 1rem;
}

.ficha-tecninca div label {
    font-size: 1.2rem;
    font-weight: bold;
}

.ficha-tecninca div p {
    font-size: 0.9 rem;
    color: rgba(185, 185, 185, 0.733);
    padding-top: 3px;
}


.elenco {
    margin-top: 9rem;
    margin-bottom: 5rem;
}

.integrantes-elenco {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.integrante-elenco {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.integrante-elenco div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: #343434;
    height: 7rem;
    width: 14rem;

    padding-top: 4rem;
    padding-bottom: 2rem;

    border-radius: 5px;
    margin-top: -3rem;
    z-index: 1;
}

.integrante-elenco div p {
    font-size: 1.5rem;
    font-weight: bold;
}

.integrante-elenco div span {
    font-size: 1.1rem;
    font-weight: normal;
    color: rgba(138, 138, 138, 0.5);
}

.integrante-elenco img{
    object-fit: cover;
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    z-index: 10;
}

.lista-de-filmes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.filme {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem;
}

.filme * {
    margin-bottom: .5rem;
}

.poster {
    height: 280px;
    border-radius: 5px;
}

.poster-xl {
    height: 400px;
    border-radius: 5px;
}

.filme .titulo {
    font-size: 1.75rem;
}

.nota {
    display: flex;
    align-items: center;
}

.nota span {
    color: gold;
    margin-right: .3rem;
}

.nota p {
    filter: opacity(.5);
}

.botao {
    width: 100%;
    background-color: var(--primary);
    border-radius: .5rem;
    padding: .8rem 0;
    text-align: center;
    transition: box-shadow all 1s ease-in-out;
}

.botao:hover {
    box-shadow: 0px 0px 10px var(--primary);
}

@media (max-width:768px) {
    header {
        flex-direction: column;
    }
    .banner p {
        padding: 3rem;
    }
}

@media (max-width:425px) {
    nav li:nth-child(3) {
        flex: 1;
        text-align: start;
    }
}