@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap');

:root{
    --bg: #212121;
    --bg2: #444444; 
    --primary: #FF0066;
    --base-color: #FFF;
}

/* css reset */
*{
    margin: 0;
    color:var(--base-color);
}

body{
    background-color: var(--bg);
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    padding: 1.5rem;
    background-color:var(--bg2);
}

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
    color: var(--primary);
}

nav{
    display: flex;
    flex: 1;
}

nav ul{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-self: center;
}

a{
    color: var(--base-color);
    text-decoration: none;
}

li{
    list-style: none;
    flex: 1;
}

nav li:nth-child(3){
    flex: 2;
}

#hero{
    height: 250px;
    position: relative;
}

#hero p{
    font-weight: bold;
    font-size: 3rem;
    line-height: 56px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

#hero::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../images/poster_guerra.jpg);
    box-shadow: inset 0px -25px 25px #212121;
}

.poster{
    height: 280px;
}

.botao{
    background-color: var(--primary) ;
    border-radius: .5rem;
}